*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #f10071;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

 header{
    width: 100%;
    height: 600px;
    background: #00F260;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0576e657, #00f2617e),url(ajolote.png) 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;

 }
 nav{
    text-align: right;
    padding: 30px 50px 0 0;

 }
 nav > a{
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
 }
 nav> a:hover{
    text-decoration: underline;
 }

 header .textos-header{
    display: flex;
    height: 230px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }

 .textos-header h1{
    font-size: 50px;
    color: hwb(0 30% 69%);


 }

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: hwb(0 0% 100%);


}
 .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
     
 }

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;

}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #ff0077;
    color:#fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
     padding: 2px ;
     margin-right: 5px;
}
.contenido-textos{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;

}

.portafolio{
    background: #f2f2f2;

}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 5);


}

.imagen-port>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*transform: scale(0)*/
    background: hsla(273, 91%, 27%, 0.397);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img{
    width: 50px;

}
.hover-galeria p{
    color: #fff;

}
.imagen-port:hover .hover-galeria{
    transform: scale(0);

}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.servicio-individual{
    width: 20%;
    text-align: center;

}

.servicio-individual img{
    width: 90%;
    height: 40%;
    float: center;

}

.servicio-individual h3{
    margin: 10px 0;
}

.servicio-individual p{
    font-weight: 300;
    text-align: center;

}
/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px0;
    margin: auto;
    overflow: hidden;

}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 75px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #03ccf0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #fff;
}
